@import "./constants/css_variables.css";

.App {
  text-align: center;
}

.navbg {
  background-color: var(--accent-blue-gray); /* 指定された背景色 */
}

.custom-background::after {
  content: "";
  position: absolute;
  height: 60px; /* セクションと重なる高さを確保 */
  bottom: 0;
  width: 100vw; /* 画面幅いっぱいの幅を確保 */
  background-color: var(--accent-blue-gray); /* 指定された背景色 */
  z-index: -1; /* 要素の背後に配置 */
}

/* 他のスタイルも必要に応じて追加可能 */
